/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.background {
  position: absolute;
  background-image: url('./images/new-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* filter: blur(3px);
  -webkit-filter: blur(3px); */
  z-index: 1;
}

/* #welcome-page-background {
  background-image: url('./images/new-2.webp');
} */

/* :root {
  --background-color: #ffffff;
  --text-color: #000000;
}

:root.dark {
  --background-color: #1a1a1a;
  --text-color: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
} */

/* :root {
  --primary: #007bff;
  --secondary: #6c757d;
  --background: #ffffff;
  --text: #000000;
  --border: #dee2e6;
  --card-bg: #f8f9fa;
  --hover: #e9ecef;
} */

:root.dark {
  /* Dark mode variables */
  --primary: #ffffff;
  --secondary: #ffffff;
  --background: #000000;
  --text: #ffffff;
  --border: #ffffff;
  --card-bg: #1e1e1e;
  --hover: #2d3238;
}

/* Apply variables to elements */
body {
  background-color: var(--background);
  color: var(--text);
  transition: background-color 0.3s, color 0.3s;
}

/* Example component styles */
.card {
  background-color: var(--card-bg);
  border: 1px solid var(--border);
}

.button {
  background-color: var(--primary);
  color: white;
}

