@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* #6055D8 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* WelcomePage Section-- */
.welcome-page {
  font-family: "Poppins", sans-serif;
  position: relative;
  padding: 9rem 5rem 3rem 5rem;
  text-align: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1600;
}

.welcome-page span,
.welcome-page p,
.wlcm-btn-container {
  position: relative;
  z-index: 2;
}

.welcome-page span {
  font-size: 33px;
  font-weight: 500;
  margin-bottom: 10px;
}

.welcome-page p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.wlcm-btn-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wlcm-btn-container button {
  cursor: pointer;
  padding: 10px 38px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
}

/* SignUp - Login Section--- */

.signup-login-Container {
  font-family: "Poppins", sans-serif;
  padding: 4rem 2rem;
  height: 100vh;
}

.signup-login-typography-container {
  font-size: 30px;
  font-weight: 500;
  text-align: left;
}

.signup-login-Container form {
  margin-top: 2rem;
}

.signup-login-btn {
  padding: 10px 38px;
  cursor: pointer;
  border-radius: 50px;
  border: none;
  font-size: 16px;
  background-color: #6055d8;
  color: #ffffff;
  margin: 10px 0;
}

.signup-login-switchLink {
  text-align: center;
}

.signup-login-navlink {
  text-decoration: none;
  color: #1976d2;
}

.signup-login-image-container {
  margin-left: 9rem;
}

.signup-login-image-container img {
  width: 5rem;
  height: 6vh;
  object-fit: contain;
}

#signup-login-image-container-id {
  margin-left: 0;
}

#signup-login-image-container-id img {
  width: 8rem;
  height: 12vh;
}

/* WelcomeNote Section--- */

#welcome-note-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 400px;
  margin: 20px auto 0;
  line-height: 2rem;
}

#welcome-note-container span {
  font-size: 18px;
  font-weight: 400;
}

/* Bottom Nav Layout Section-- */

.btm-main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.btm-root-main-outlet {
  margin: 3.5rem 0 3.2rem 0;
  padding: 2rem;
  flex: 1;
  overflow: auto;
}

.btm-nav-root-container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0.9rem;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1500;
  border: 1px solid #e6e5e5;
  text-decoration: none;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.btm-bar-navlinks {
  cursor: pointer;
  color: #a6a5a5;
  padding: 5px 5px 3px 5px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btm-bar-navlinks.active-link {
  background-color: #6055d8;
  color: #ffffff;
  border-radius: 10px;
}

.btm-bar-navlinks span {
  display: flex;
}

.cartCount-holder {
  position: relative;
}

.cartCount {
  font-family: "Manrope", sans-serif;
  position: absolute;
  top: -5px;
  right: -12px;
  background-color: red;
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  font-size: 10px;
  font-weight: 700;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .popover {
  z-index: 9999;
} */

/* RootLayout Section---  */
.root-main-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.root-main-container span {
  cursor: pointer;
}

.root-main-container h3 {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  text-align: center;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -85%;
  width: 85%;
  height: 100vh;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  transition: left 0.7s ease;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 20px 10px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.sidebar.open {
  left: 0;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-icon {
  cursor: pointer;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.sidebar-nav span {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 1.5rem 0;
  color: inherit;
}

.sidebar-link {
  font-family: "Raleway", sans-serif;
  font-size: 17px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 7vh;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

.sidebar-link:hover {
  background-color: #776de7;
  padding: 10px;
  color: #ffffff;
}

.sidebar-link.active {
  font-weight: 600;
  color: #6055d8;
}

.avatar-name-email-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar-container {
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #ccc;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
}

.avatar-name-email-container span {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.root-logout-btn {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 400;
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 10px;
  transition: color 0.2s ease;
  border-radius: 10px;
}

.root-logout-btn:hover {
  background-color: #776de7;
  color: #ffffff;
}

#cartCount-holder-id {
  position: relative;
}

#cartCount-id {
  right: 32px;
}

#notification-Count-id {
  right: 22px;
  top: 17px;
}

/* HomePage Style Section--- */

.homepage-select-tab-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0 20px 0;
}

.homepage-select-tab-container span {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

.homepage-select-icon {
  border-radius: 50%;
  padding: 7px;
  border: 2px solid #ccc;
  width: 2.5rem;
  height: 2.5rem;
}
.carousel-wrapper {
  width: 28.5rem;
  height: 45vh;
  margin: 0 auto;
  border-radius: 15px;
}

.carousel-img {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 45vh;
  object-fit: contain;
  margin: 0 auto;
  border-radius: 15px;
}

.homepage-banner {
  font-family: "Raleway", sans-serif;
  background-color: #6055d8;
  color: #f0f0f0;
  margin: 2rem 0;
  padding: 17px 20px;
  border: 1px solid #6055d8;
  border-radius: 8px;
}

.banner-content-holder {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 17px;
  font-weight: 400;
}

#wlcm-banner-id {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  padding: 12px 20px;
}

/* Featured Products Section--- */

.prod-main-container {
  margin: 2.5rem 0;
}

.prod-header {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
}

.glide__slide {
  /* background-color: rgb(237, 236, 236); */
  border: 1px solid #ddd;
  border-radius: 15px;
}

.featProd-img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 10px;
}

.featured-carousel-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
  border-bottom: 0.5px solid #979696;
}

.heart-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  background-color: rgba(149, 147, 147, 0.5);
  color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  z-index: 500;
  transition: all 0.3s ease;
}

.heart-icon.active {
  fill: rgb(251, 6, 6);
}

.product-info {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  gap: 25px;
  padding: 10px 0.4rem;
}

.product-info span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 500;
}

.product-info p {
  font-family: "Roboto", sans-serif;
  flex-shrink: 0;
  font-size: 13px;
  font-weight: 500;
  color: #6055d8;
}

#skeleton-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
}

.skeleton {
  display: flex;
  gap: 35px;
}

/* Product List Section --- */

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}

.prod-header-nav-flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.view-prod-link-holder {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #6055d8;
}

.view-prod-link {
  text-decoration: none;
}

.productList-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.prod-img-container {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.product-details {
  padding: 1rem;
  text-align: left;
}

.product-details {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-details span {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 500;
}

.product-details aside h5 {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-details aside {
  height: 12vh;
}

.product-details p {
  font-family: "Roboto", sans-serif;
  color: #6055d8;
  font-size: 13px;
  font-weight: 500;
}

.product-actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  margin-top: 8px;
}

.product-actions button {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #6055d8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  width: 100%;
}

/* .Product Detail Page Section---- */

.product-details-container {
  width: 100%;
  display: flex;
  gap: 45px;
}

.product-details-img-container {
  position: relative;
  width: 50%;
  aspect-ratio: 1/1;
  overflow: hidden;
  max-width: 600px;
}

.product-detail-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
}

.product-details-img-container div {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 20px;
  z-index: 1000;
}

.prod-detail-back-arrow {
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
}

.prod-detail-heart-icon {
  cursor: pointer;
  background-color: #ffffff;
  padding: 3px;
  border-radius: 50%;
}

.product-details-info-container {
  font-family: "Roboto", sans-serif;
  width: 50%;
}

.product-title-price-container span {
  display: flex;
  justify-content: space-between;
}

.product-title-price-container span h4 {
  font-weight: 500;
  font-size: 20px;
}

.product-details-info-container h5 {
  font-weight: 400;
  font-size: 20px;
  color: #979696;
  margin: 7px 0 20px 0;
}

.product-detail-price {
  font-size: 16px;
  color: #6055d8;
  font-weight: 500;
}

#prod-price-2 {
  display: none;
}

.product-detail-desc-holder p {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
}

.product-detail-code-qty-holder {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 30px 0;
}

.product-detail-code-qty-holder p {
  font-weight: 600;
  font-size: 15px;
}

.product-detail-actions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 40px 0 0 0;
  width: 14.5em;
}

.product-detail-actions button {
  width: 100%;
  cursor: pointer;
  padding: 13px 10px;
  background-color: #6055d8;
  color: #ffffff;
  border: none;
  border-radius: 10px;
}

/* Products Page Pagination--- */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0 0 0;
}

.pagination-container button {
  padding: 8px 10px;
}

.pagination-button {
  cursor: pointer;
  margin: 0 5px;
  padding: 8px 12px;
  background: #f0f0f0;
  border: 1px solid #000000;
}

.pagination-button.active {
  background: #6055d8;
  color: #ffffff;
}

.pagination-button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Search Component Section--- */
.search-container {
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 100%;
}

.search-input-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
  margin: 0 auto;
}

.search-input {
  width: 100%;
  padding: 8px 8px;
  font-size: 16px;
  border: 1.5px solid #979696;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
}

.search-icon {
  cursor: pointer;
  position: absolute;
  right: 12px;
  background-color: transparent;
  border: none;
  color: #979696;
}

.search-input::placeholder {
  font-size: 14px;
  font-weight: 500;
}

.search-input:focus {
  border: 1.5px solid #6055d8;
}

.recent-search-header {
  display: flex;
  gap: 20rem;
  align-items: center;
  margin: 15px auto;
}

.recent-searches {
  display: flex;
  align-items: center;
  justify-content: center;
}

.recent-search-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.recent-tag {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #6055d8;
  padding: 8px;
  border-radius: 8px;
}

.recent-tag button {
  background-color: transparent;
  border: none;
}

.back-to-collections {
  font-family: "Raleway", sans-serif;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}

/* Cart Section --- */

.empty-cart-alert {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.empty-cart-alert p {
  text-align: center;
}

.empty-cart-alert button {
  width: fit-content;
  padding: 10px 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6055d8;
  color: #ffffff;
}

.cart-ul {
  font-family: "Raleway", sans-serif;
  margin-top: 30px;
}
.cart-product-grid {
  margin-bottom: 25px;
  list-style: none;
}

.cart-prod-card {
  display: flex;
  gap: 20px;
}

.cart-img {
  aspect-ratio: 1;
}

.cart-img img {
  width: 11rem;
  height: 11rem;
  object-fit: cover;
  object-position: center;
}

.cart-prod-card-details {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.cart-prod-card-details h4 {
  font-size: 16px;
  font-weight: 600;
}

.cart-prod-card-details p {
  font-size: 13px;
  font-weight: 500;
}

.cart-prod-qty-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #858585;
  border-radius: 40px;
  padding: 4px;
  width: fit-content;
}

.cart-prod-qty-container button {
  color: #000000;
  cursor: pointer;
  background-color: #ffffff;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#minus-btn {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

#plus-btn {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.removeItemBtn {
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: color 0.3s ease;
  width: fit-content;
}

.removeItemBtn:hover {
  color: #6055d8;
}

.cart-prod-checkout-flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.cart-checkout-container {
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-checkout-container h4 {
  font-size: 25px;
  font-weight: 600;
}

.cart-checkout-container p {
  font-size: 18px;
  font-weight: 500;
}

.cart-checkout-container span {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.checkout-btns-style {
  cursor: pointer;
  padding: 14px;
  border-radius: 30px;
  background-color: #6055d8;
  color: #ffffff;
  border: none;
  width: 20rem;
  font-size: 15px;
}

.cart-modal-del-btnHolder {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.cart-modal-button {
  cursor: pointer;
  width: 10rem;
  padding: 10px;
  font-size: 16px;
  margin-top: 15px;
}

#cart-title-header {
  font-size: 2rem;
}

/* Search Page Section-- */

.searchPage-collection-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchPage-collection-container span {
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 300;
  padding: 18px;
  border: 1px solid #111111;
  border-radius: 6px;
  background-color: #6055d8;
  color: #f0f0f0;
}

/* Checkout Section ---- */

.checkoutForm-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  width: 25rem;
  gap: 20px;
}

.checkoutForm-container p {
  font-size: 30px;
  font-weight: 600;
}

.errorPage-main-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 8rem 4rem 0 4rem;
}

.errorPage-main-container span {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 25px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
}

.errorPage-main-container button {
  cursor: pointer;
  width: fit-content;
  padding: 12px 20px;
  border: none;
  border-radius: 7px;
  background-color: #6055d8;
  color: #f0f0f0;
  font-size: 16px;
}

.auth-label-flex {
  color: #a6a5a5;
}

.backIcon {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0;
  width: fit-content;
}

/* User Menu Section--- */

#user-name-img-flex-holder {
  flex-direction: column;
  gap: 10px;
}

#avatar-container-id {
  width: 4rem;
  height: 4rem;
}

.userMenu-header {
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto 3rem;
}

.userMenu-links-main-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 1rem;
}

.userMenu-nav-links {
  cursor: pointer;
  border: 1px solid #777e90;
  border-radius: 5px;
  padding: 15px;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.2);
  color: inherit;
  text-decoration: none;
}

.userMenu-icon-title-flex {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 12px;
}

/* User Profile Section--- */

.usermenuPages-title-container {
  margin-bottom: 1rem;
}

.usermenuPages-title-container span {
  color: #000000;
}

.userPages-main-container p {
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

#usermenuPages-title {
  font-family: "Manrope", sans-serif;
}

.verify-password-title {
  font-family: "Raleway", sans-serif;
}

.verify-password-title h2 {
  font-size: 20px;
}

.verify-password-title p {
  flex-shrink: 17px;
  margin: 5px 0 12px 0;
}

.profile-form-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
}

.profile-form-container span {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  margin-left: 20px;
}

.profile-text-field {
  padding: 14px 12px;
}

.age-span {
  border-radius: 3px;
  border: 1px solid #979696;
  padding: 8px 20px 8px 10px;
}

.userDetails-update-btn {
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  max-width: 500px;
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  margin-top: 13px;
  background-color: #6055d8;
  color: #f0f0f0;
  font-size: 15px;
  font-weight: 500;
}

#deleteBtn-warning {
  background-color: red;
}

.btn-progress {
  color: #f0f0f0;
}

.alert-message-holder {
  max-width: 500px;
  margin-bottom: 20px;
}

.timestamp-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-left: 3px solid #44b700;
  margin: 15px 0;
}

.timestamp-container main {
  font-size: 12px;
  font-weight: 400;
}

.delete-modal-title {
  font-family: "Raleway", sans-serif;
}

/* Saved Card Section--- */
.usermenuPages-title-textCenter {
  font-family: "Manrope", sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 2rem;
}

.savedCard-details-container {
  display: flex;
  flex-direction: column;
  gap: 7px;
  border: 1px solid #777e90;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 400px;
}

#alert-message-savedCard-id {
  max-width: 400px;
}

.savedCard-removeBtn {
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  border: none;
  color: #f0f0f0;
  background-color: #6055d8;
  font-size: 16px;
  font-weight: 400;
}

/* Order History Section-- */

.order-id {
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.order-placed-date {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

.order-status {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

#order-txt-cntr {
  text-align: center;
  margin-bottom: 40px;
}

/* Notification Section--- */
.notification-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}

.notification-item {
  cursor: pointer;
  position: relative;
  font-family: "Raleway", sans-serif;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  border-top: 1px solid #718098;
  border-right: 1px solid #718098;
  border-bottom: 1px solid #718098;
}

.notification-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.notification-item h3 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.notification-item p {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.notification-date {
  font-size: 0.8rem;
  color: #718098;
}

.notification-item.unread {
  border-left: 4px solid #0066cc;
}

.notification-item.success {
  border-left: 4px solid #48bb78;
}

.notification-item.error {
  border-left: 4px solid #f56565;
}

.notification-item.info {
  border-left: 4px solid #2f76c6;
}

.notification-date {
  font-size: 0.8rem;
  color: #666;
  display: block;
  margin-top: 8px;
}

.no-notification-text {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: 4rem;
}

.unread-indicator {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #2f76c6;
  font-size: 24px;
}

/* Wishlist Section--- */

.wishlist-clear-btn-holder {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.wishlist-header h1 {
  font-size: 1.8rem;
  font-weight: 600;
}

.clear-wishlist-btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #ffffff;
  background-color: #6055d8;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.empty-wishlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 400px;
  text-align: center;
  padding: 2rem;
}

.empty-wishlist h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.empty-wishlist p {
  color: #656464;
  margin-bottom: 2rem;
}

/* Screen Sizes--- */

@media screen and (max-width: 1000px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .product-details-container {
    gap: 30px;
  }

  #prod-price-1 {
    display: none;
  }
  #prod-price-2 {
    display: block;
  }
}

@media screen and (max-width: 960px) {
  .product-details-container {
    flex-direction: column;
  }
  .product-details-img-container {
    width: 100%;
    max-width: 100%;
  }
  .product-details-info-container {
    width: 100%;
  }

  .cart-prod-checkout-flex {
    flex-direction: column;
    gap: 30px;
  }
}

@media screen and (max-width: 750px) {
  .signup-login-Container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .signup-login-image-container {
    margin-left: 0;
  }

  .banner-content-holder {
    font-size: 17px;
    font-weight: 400;
    gap: 12px;
  }

  .prod-header {
    font-size: 1.2rem;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-detail-actions {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 35px 0 0 0;
    width: 100%;
  }

  .searchPage-collection-container span {
    text-align: right;
  }
}

@media screen and (max-width: 650px) {
  .welcome-page {
    padding: 9rem 1rem 3rem 1rem;
  }
  .cart-prod-card {
    flex-direction: column;
    gap: 20px;
  }

  .cart-img {
    aspect-ratio: 0;
  }

  #checkout-btn-id {
    width: 100%;
  }

  .checkoutForm-container {
    width: 100%;
  }

  .errorPage-main-container {
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 8rem 1rem 0 1rem;
  }

  .errorPage-main-container span {
    font-size: 18px;
    line-height: 28px;
  }
  .userMenu-nav-links {
    width: 100%;
  }

  .userDetails-display {
    font-size: 16px;
  }

  .userDetails-update-btn {
    font-size: 13px;
  }

  .empty-cart-alert h2 {
    font-size: 17px;
  }

  .empty-cart-alert p {
    font-size: 13px;
  }
}

@media screen and (max-width: 530px) {
  .welcome-page span {
    font-size: 25px;
    font-weight: 600;
  }
  .welcome-page p {
    font-size: 15px;
  }

  .signup-login-Container {
    padding: 4rem 1rem;
  }

  .btm-root-main-outlet {
    padding: 2rem 1rem;
  }
  .root-main-container {
    padding: 1.5rem 1rem;
  }

  .prod-header {
    font-size: 1rem;
  }

  .carousel-wrapper {
    width: 100%;
    height: 35vh;
  }

  .carousel-img {
    object-fit: cover;
    height: 35vh;
  }

  .search-input-container {
    width: 100% !important;
    max-width: 100%;
  }

  .search-input {
    width: 100%;
  }

  .recent-search-header {
    justify-content: space-between;
    gap: 0;
    width: 100%;
  }

  .order-id {
    font-size: 17px;
  }
  .order-placed-date {
    font-size: 13px;
  }
}

@media screen and (max-width: 500px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .product-details aside {
    height: 9vh;
  }
  .checkout-btns-style {
    width: 100%;
  }
  .notification-item h3 {
    font-size: 17px;
  }
  .notification-item p {
    font-size: 14px;
  }
}
